<table ng-if="current_tab=='general'" class="table table-striped table-condensed">
  <thead>
    <th style="width: 30px">#</th>
    <th style="width: 200px">Key</th>
    <th style="width: 300px">Values</th>
    <th style="width: 50px"></th>
    <th>Count</th>
  </thead>
  <tbody>
    <tr ng-repeat="scope in general_data | orderBy:'count':true">
      <td>{{::$index+1 }}</td>
      <td>{{::scope.name }}</td>
      <td>
        <div ng-repeat="(val,repeats) in ::scope.grouped_values">
          "{{ val }}"[{{ repeats.length }}]
        </div>
      </td>
      <td style="text-align: right;">{{ scope.count }}</td>
      <td>
        <span style="position: relative;top:3px;background-color: #3CA3C1; width: {{scope.count}}px; height: 16px; display: inline-block;"></span>
      </td>
    </tr>
  </tbody>
</table>
