<div class="container">
  <div class="jumbotron" style="background:transparent">
    <h2>Oops! Looks like something went wrong!</h2>
    <p class="lead">
      We track these errors automatically, but if the problem persists feel free to contact us.
      In the meantime, try refreshing.
    </p>
    <p>
      <a class="btn btn-lg btn-info" href="#" role="button"><span class="glyphicon glyphicon-home"></span> Take Me Home</a>
    </p>
  </div>
</div>




