<div class="btn-toolbar">
  <div class="btn-group">
    <a ng-click="HUD.toggle()" class="btn btn-mac btn-small" ng-class="{'active': HUD.visible }">
      <i class="icon-adjust"></i> Color Adjustments
    </a>
  </div>

  <div class="btn-group" dropdown>
    <a class="btn btn-small btn-mac dropdown-toggle" dropdown-toggle>
      <i class="icon-gear"></i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu pull-right">
      <li><a href="/stats"><strong>Some Stats</strong></a></li>
      <li class="divider"></li>
      <li><a href="https://github.com/aziz/tmTheme-Editor#tmtheme-editor">About</a></li>
      <li><a href="https://github.com/aziz/tmTheme-Editor/issues/new">Feedback</a></li>
      <li><a href="https://github.com/aziz/tmTheme-Editor">Github</a></li>
      <li class="divider"></li>
      <li><center><small class="muted">Version <span ng-bind="version"></span></small></center></li>
    </ul>
  </div>
</div>
