<!DOCTYPE html>
<html ng-app="ThemeEditor">
<head ng-controller="pageController">
  <title ng-bind="page_title(current_theme)"></title>
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet" type="text/css">
  <% include 'partials/meta' %>
  <%- css("app") %>
</head>

<body>
  <div ng-view></div>

  <div id="loading"></div>
  <div id="alerts" ng-cloak>
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>

  <% include 'partials/shared_assets' %>
  <%- js("application") %>
  <% include 'partials/analytics' %>

</body>
</html>
