<div ng-cloak ng-class="{ 'slide' : Editor.Gallery.visible }" class="actionbar">
  <div ng-if="sidebar.current_tab == 'scopes'" >
    <div class="search">
      <input type="search" ng-model="scopes_filter.name" placeholder="Search Scopes">
      <div ng-if="scopes_filter.name" ng-click="scopes_filter.name = ''" class="clear_search">
        <i class="icon-cancel-circle"></i>
      </div>
    </div>
    <div class="actions">
      <div ng-click="NewPopover.show()"
           ng-class="{'active': NewPopover.visible }" class="add"
           bs-tooltip="{title: 'Add'}" data-placement="top" data-container="body">
        <i class="icon-plus"></i>
      </div>
      <div ng-click="delete_rule(selected_rule)"
           ng-class="{'disabled': !selected_rule }" class="remove"
           bs-tooltip="{title: 'Remove'}" data-placement="top" data-container="body">
        <i class="icon-minus"></i>
      </div>
    </div>
  </div>

  <div ng-if="sidebar.current_tab == 'general'" class="actions">
    <div class="actions">
      <div class="dropup" dropdown ng-show="Theme.json">
        <a class="add dropdown-toggle"
           dropdown-toggle
           bs-tooltip="{title: 'Add'}"
           data-placement="top" data-container="body">
          <i class="icon-plus"></i>
        </a>
        <ul class="dropdown-menu pull-right" ng-style="{'max-height': dropdowns_max_height }">
          <li ng-repeat="rule in Theme.addable_gcolors() | orderBy: rule">
            <a ng-click="Theme.add_gcolor(rule)">{{rule}}</a>
          </li>
        </ul>
      </div>
      <div ng-click="Theme.remove_gcolor(general_selected_rule)"
           ng-class="{'disabled': !(general_selected_rule && general_selected_rule.deletable) }" class="remove"
           bs-tooltip="{title: 'Remove'}" data-placement="top" data-container="body">
        <i class="icon-minus"></i>
      </div>
    </div>
  </div>

  <div ng-if="sidebar.current_tab == 'info'" class="actions">
  </div>
</div>
