<ng-include src="'template/action_bar.html'"></ng-include>

<div ng-class="{ 'slide' : Editor.Gallery.visible }" class="tabbar" ng-cloak>
  <a ng-click="sidebar.current_tab = 'scopes'"  ng-class="{'active': sidebar.current_tab == 'scopes'}">Scopes</a>
  <a ng-click="sidebar.current_tab = 'general'" ng-class="{'active': sidebar.current_tab == 'general'}">General</a>
  <a ng-click="sidebar.current_tab = 'info'"    ng-class="{'active': sidebar.current_tab == 'info'}">Info</a>
</div>

<div class="sidebar" ng-cloak
     ng-class="{ 'slide': Editor.Gallery.visible, 'no-scroll': EditPopover.visible  }"
     ng-style="{ 'background-color': Color.parse(Theme.bg.color)}">
  <ng-include src="'template/table_general.html'"></ng-include>
  <ng-include src="'template/table_scopes.html'"></ng-include>
  <ng-include src="'template/table_info.html'"></ng-include>
</div>
