<div ng-cloak>

  <header id="header">
    <a href="/#!/" class="btn btn-info btn-small"><i class="icon-white icon-arrow-left"></i> Back to editor</a>

    <div ng-hide="progress > 99.999" class="progress progress-striped active">
      <div class="bar" style="width: {{progress}}%"></div>
    </div>
  </header>

  <ul id="stats-tabs" class="nav nav-tabs">
    <li ng-class="{'active': current_tab == 'themes'}">
      <a ng-click="current_tab = 'themes'">Themes Stats</a>
    </li>
    <li ng-class="{'active': current_tab == 'scopes'}">
      <a ng-click="current_tab = 'scopes'">Scopes Stats</a>
    </li>
    <li ng-class="{'active': current_tab == 'general'}">
      <a ng-click="current_tab = 'general'">General Scope Stats</a>
    </li>
  </ul>

  <div id="stats-tables">
    <div class="row-fluid">
      <div class="span12">
        <ng-include src="'template/stats/themes_tab.html'"></ng-include>
        <ng-include src="'template/stats/scopes_tab.html'"></ng-include>
        <ng-include src="'template/stats/general_tab.html'"></ng-include>
      </div>
    </div>
  </div>
</div>
