@import "bootstrap/bootstrap";
@import "lib/mixins";
//@import "http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic";
@import "http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700";

@sansFontFamily: "lucida grande", "Segoe UI","Helvetica Neue", Helvetica, Arial, sans-serif;
@systemFontFamily: "lucida grande", "Segoe UI", Helvetica, Arial, sans-serif;
@monoFontFamily:  'Source Code Pro','Ubuntu Mono', 'Monaco', 'Menlo', 'Consolas', "Courier New", monospace;
@sidebarMin: 400px;
@sidebarMax: 400px;
@header_height: 36px;

[ng-cloak], .ng-cloak { display: none; }

@import "app/header";
@import "app/sidebar";
@import "app/preview";