@import (reference) "lib/bootstrap_mixins.less";
@import (reference) "lib/mixins";
@import (reference) "lib/variables";

[ng-cloak], .ng-cloak { display: none; }
[ng-click] { cursor: pointer; }

body { overflow: hidden; }

#loading {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 200px;
  top: 37px;
  z-index: 999;
  background: rgba(0,0,0,.6);
  opacity: 0;
  display: none;
  .transition(all 1600ms ease);

  &.full_window {
    left: 0;
  }

  &.show {
    opacity:1;
  }

  .spinner {
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
  }
}

#alerts {
  position: fixed;
  z-index: 9999;
  top: 40px;
  right: 12px;

  .alert {
    position: relative;

    .close {
      font-size: 18px;
      position: absolute;
      top: 8px;
      right: 10px;
    }
  }

  .sr-only {
    display: none;
  }
}

.no-scroll {
  overflow-y: hidden !important;
}

.btn-mac {
  #gradient > .vertical(#eee, #c3c3c3);
  border: 1px solid #777;
  border-top: 1px solid #797979;
  border-bottom: 1px solid #747474;
  .transition(none);

  &:hover {
    background-position: 0 0;
  }
  &:active, &.active {
    #gradient > .vertical(#c0c0c0, #dadada);
  }
}

.btn-group.open .btn-mac.dropdown-toggle {
 #gradient > .vertical(#c0c0c0, #dadada);
}

.btn, header, .btn-toolbar, .tabbar, table.list th {
  .user-select(none);
}
