header {
  #gradient > .vertical(#E8E8E8,#C2C2C2);
  height: @header_height - 10;
  border-bottom: 1px solid #989898;
  position: relative;
  padding:5px 6px;

  .btn-toolbar {margin-top: 0;}
  .sep {
    height: @header_height;
    width: 2px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAkCAIAAAAsIXxYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGZJREFUeNpMjtENACEIQwHdf85bwah4rWKwPy+lBbVvq661RKS6O1FKwaDOOeFMtgzZMzwLzDC3bNKNMegSKN+F1hqRVwzqvasqmwSGBCoEMraAZy9On+9eRBaIm/lQHKODgF+AAQBWGnC7vMRz4wAAAABJRU5ErkJggg==) no-repeat;
    position: absolute;
    bottom: 0;
    left: 400px;
  }

  .dl-save {
    position: absolute;
    top: 5px;
    left: 252px;
  }

  .new-upload {
    position: absolute;
    top: 5px;
    left: 90px;
  }

  .social-links {
    position: absolute;
    top: 2px;
    right: 120px;
    width: 320px;
  }

  .theme-title {
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    color: #333;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 410px;
    font-size: 16px;
    line-height: 16px;

    .icon-globe {
      opacity: 0.5;
      &:hover { opacity: 1; }
    }
  }

  .links {
    position: absolute;
    top: 5px;
    right: 12px;
  }

  .icon-gear {
    width: 15px;
    height: 15px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAQAAACR313BAAAA9UlEQVR4AYXRsWpaARjF8Z8XYwxmKQWhdNGlSwt1VlAphVLsoBKQPEIyJEuGhLyLeYjMeYEsyRXEIYMJIngvcQuBmJgbLjg4COW/nP9ZvgMfABB6EQJAgIw/9kBWThZ0VAF+e7VwoG0mMdN26N1UDTL2JRt40wO2na2qiSuTVT6xBdBKi90L32tfG5V8PzX/IONWzmdF982uG3j+cX2pJDa3yPoJGC9joDA3VlJUJBAaiVEefBpIWX5TRmwkXLtd6Dcqv77U67kwNS2AvPO15Q+rfGoHAh1Pkg38JZCYinCkI0Kk69ijOxFAUw8MJYagrQr/+dgHbK9rvZ8854AAAAAASUVORK5CYII=);
    background-position: 0 0;
  }


  .icon-color-adjustments {
    width: 20px;
    height: 15px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAPCAYAAADkmO9VAAABSklEQVR42q3RvUtCUQCG8VtREOXXHQTpeM/1XGtobKilobVVCQqaoiGaGoIm+wMai9aWcGpTCkSCIOgDhIICoaGooKEI+saMrGc4wkXUrHzhx9ke7jnXaHBeRNC0beKoWbFhFPCKyWYEz3GCHO7Q9p/YAh6QRgq3WP5rzIdnfGkl7Q09qLsW9GEcS8hiClUXkXJaSftASbmqwvaMFPZIJBSSQohOQ19nB0kkMIYJ3COHFYyi3dVsVZbcVkSJJ6NSJojHCUaNGjvTjnGBRxRxhTTmg2Ywriz7UBFUlrXoCBmrFZzDU/lHuGxhH3ncoOj3eNcJrjl8oSPsmBKitzLWpWN7SP1gFy+mafY7YTmrhKwa3MA1Ug261GeHLcRQ5ZUHUED2F8EMChiEocyAzx08RQkfKNbxXuETeRjV3q9b87h4NZ/mdwloZjnyDcgubpB61t8pAAAAAElFTkSuQmCC);
    background-position: 0 0;
  }

  .upload {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
}
