@import (reference) "lib/bootstrap_mixins.less";
@import (reference) "lib/mixins";
@import (reference) "lib/variables";

header {
  #gradient > .vertical(#E8E8E8,#C2C2C2);
  height: @header_height - 10;
  border-bottom: 1px solid #989898;
  position: relative;
  padding:5px 6px;

  .btn-toolbar {margin-top: 0;}
  .sep {
    height: @header_height;
    width: 2px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAkCAIAAAAsIXxYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGZJREFUeNpMjtENACEIQwHdf85bwah4rWKwPy+lBbVvq661RKS6O1FKwaDOOeFMtgzZMzwLzDC3bNKNMegSKN+F1hqRVwzqvasqmwSGBCoEMraAZy9On+9eRBaIm/lQHKODgF+AAQBWGnC7vMRz4wAAAABJRU5ErkJggg==) no-repeat;
    position: absolute;
    bottom: 0;
    left: 400px;
  }

  .dl-save {
    position: absolute;
    top: 5px;
    left: 252px;
  }

  .new-upload {
    position: absolute;
    top: 5px;
    left: 90px;
  }

  .social-links {
    position: absolute;
    top: 2px;
    right: 120px;
    width: 320px;
  }

  .theme-title {
    text-shadow: 0 1px 0 rgba(255,255,255,.4);
    color: #333;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 410px;
    font-size: 16px;
    line-height: 16px;

    .icon-globe {
      color: #000;
      font-size: 13px;
      opacity: 0.5;
      &:hover { opacity: 1; }
    }
  }

  .links {
    position: absolute;
    top: 5px;
    right: 12px;
  }

  .icon-gear {
    width: 15px;
    height: 15px;
  }


  .icon-color-adjustments {
    width: 20px;
    height: 15px;
    background-position: 0 0;
  }

  .upload {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }

  .btn-small .caret {
    margin-top: 7px;
  }
}
