@import (reference) "lib/bootstrap_mixins.less";
@import (reference) "lib/mixins";
@import (reference) "lib/variables";

.is_bold { font-weight: bold !important; }
.is_italic { font-style: italic; }
.is_underline { text-decoration: underline; }

// This should not be nested to prevent higher CSS specificity
s {
  text-decoration: none;
  padding: 2px;
  margin: -2px;
  border-radius: 2px;
  cursor: default;

  &:hover {
    box-shadow: inset 0 -2px 0  fadeout(#1eae37, 66);
    .user-select(none);
  }
}

pre {background-color: transparent;}

.preview {
  position: absolute;
  top: @header_height+ 1;
  bottom: 33px;
  left: 401px;
  right: 0;
  overflow: scroll;
  transform: translate3d(0px, 0px, 0px);

  pre {
    font-size: 15px;
    border:0;
    border-radius: 0;
    counter-reset: line_numbers;
    padding:0;
    margin:0;
    overflow-x: scroll;
    white-space: pre !important;
    word-wrap: normal !important;
    padding-bottom: 4px;
    line-height: 19px;

    .l {
      counter-increment: line_numbers;
      padding-left: 52px;
      padding-right: 230px;
    }
    .l:before {
      content: counter(line_numbers);
      width: 36px;
      text-align: right;
      display: inline-block;
      padding: 0 8px 0 0;
      font-weight: normal;
      font-style: normal;
      text-decoration: none;
      .user-select(none);
      position: fixed;
      left: 0;
    }
  }
}

.scope-bar {
  #gradient > .vertical(#e8e8e8, #c2c2c2);
  border-top: 1px solid #969696;
  .box-shadow(inset 0 1px 0 #f5f5f5);
  position: fixed;
  bottom: 0px;
  left: @sidebar_width + 1;
  right: 0;
  height: 32px;
  z-index: 99;
  color: #666;
  text-shadow: 0 1px 0 rgba(255,255,255,.6);
  cursor: default;

  .status-scope {
    padding-right: 340px;
    font-size: 11px;
    .ellipsis();
  }

  &.slide {
    .status-scope {
      padding-right: 540px;
    }
  }

  .f-scope {
    line-height: 32px;
    padding: 0 5px;
  }

  .f-scope + .f-scope {
    padding-left: 0;

    &:not(:last-child)::before {
      content: ":";
      margin-right: 14px;
      color: #999;
    }
  }

  .type-language {
    color: #996d4b;
  }
  .type-entity-text {
    color: #999;
  }
}

.custom_code_edtior {

  textarea {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: ~"calc(100% - 42px)";
    border: 0;
    margin: 0;
    top: 42px;
    padding: 10px;
    border-radius: 0;
    resize: none;
  }

  .cc_header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #bbb;
    color: #bbb;
    padding: 8px 10px;
    background-color: #FFF;

    p {
      margin-bottom: 0;
      line-height: 26px;
    }
  }
}

.custom_code_btn_bar {
  position: fixed;
  top: 45px;
  right: 12px;
}

.custom_code_toggle_btn {
  position: fixed;
  bottom: 3px;
  right: 175px;
  z-index: 998;
}

.languages-dd {
  position: fixed;
  bottom: 3px;
  right: 10px;
  text-shadow: none;
  z-index: 998;

  .btn-mac {
    width: 140px;
    text-align: left;
  }

  .ud-arrow {
    width: 5px;
    height: 13px;
    display: inline-block;
    float: right;
    top: 3px;
    position: relative;
    font-size: 10px;
    line-height: 16px;
  }
}
