<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35973096-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>


<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px;position:fixed;bottom:33px;right:0;z-index:9;"
     data-ad-client="ca-pub-8992671494207537"
     data-ad-slot="1198414116"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


<!-- <ins class="adsbygoogle"
     style="display:inline-block;width:320px;height:100px;position:fixed;top:36px;right:0;z-index:9;"
     data-ad-client="ca-pub-8992671494207537"
     data-ad-slot="1198414116"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

 -->
