<div ng-cloak ng-class="gallery" class="actionbar">
  <div ng-show="current_tab == 'scopes'" >
    <div class="search">
      <input type="search" ng-model="scopes_filter.name">
      <div ng-show="scopes_filter.name" ng-click="scopes_filter.name = null" class="clear_search">&times;</div>
    </div>
    <div class="actions">
      <div ng-click="toggle_new_rule_popover()"
           ng-class="{'active': new_popover_visible }" class="add"
           data-toggle="tooltip" data-placement="top" title="Add">+</div>
      <div ng-click="delete_rule(selected_rule)"
           ng-class="{'disabled': !selected_rule }" class="remove"
           data-toggle="tooltip" data-placement="top" title="Remove">-</div>
    </div>
  </div>

  <div ng-show="current_tab == 'general'" class="actions">
    <div ng-click="toggle_new_rule_popover()"
         ng-class="{'active': new_popover_visible }" class="add"
         data-toggle="tooltip" data-placement="top" title="Add">+</div>
  </div>

  <div ng-show="current_tab == 'info'" class="actions">
    <div ng-click="toggle_new_rule_popover()"
         ng-class="{'active': new_popover_visible }" class="add"
         data-toggle="tooltip" data-placement="top" title="Add">+</div>
  </div>
</div>
