<div id="browser_support" ng-cloak ng-hide="is_browser_supported">

  <div class="window">
    <div class="header">
      <div class="noise"></div>
      <div class="title">Your browser is not supported</div>
    </div>
    <div class="body">
      <p>Only works in <b>Google Chrome</b> at the moment,<br>
      since HTML5 APIs it uses are not available in other browsers yet.
      </p>
      <br>
      HTML5 APIs used:
      <br><br>
      <ul>
        <li>Blob constructing</li>
        <li>FileReader API</li>
        <li>fileWriter API</li>
        <li>filesystem API</li>
        <li>file saver API</li>
        <li>Drap and Drop API</li>
      </ul>
    </div>
  </div>

</div>