<div id="browser_support" ng-cloak ng-if="!is_browser_supported">
  <div class="window" ng-style="{ 'background' : '#ededed url(/images/not_supported_bg.png) no-repeat 283px 135px' }">
    <div class="header">
      <div class="noise"></div>
      <div class="title">Your browser is not supported</div>
    </div>
    <div class="body">
      <p>Only works in <b>Google Chrome</b> at the moment,<br>
      since HTML5 APIs it uses are not available in other browsers yet.
      </p>
      <br>
      HTML5 APIs used:
      <br><br>
      <ul>
        <li>Blob constructing</li>
        <li>FileReader API</li>
        <li>fileWriter API</li>
        <li>filesystem API</li>
        <li>file saver API</li>
        <li>Drag and Drop API</li>
      </ul>
    </div>
  </div>
</div>
