<div id="browser_support" ng-cloak ng-if="!is_browser_supported">
  <div class="window" ng-style="{ 'background' : '#ededed url(/images/not_supported_bg.png) no-repeat 283px 135px' }">
    <div class="header">
      <div class="noise"></div>
      <div class="title">Your browser is not supported</div>
    </div>
    <div class="body">
      <p><b>TmThemeEditor</b> can <b>not</b> run on your browser!<br>
      Some of HTML5 APIs it uses are not available.
      </p>
      <br>
      HTML5 APIs used:
      <br><br>
      <ul>
        <li>Drag and Drop</li>
        <li>Blob constructing</li>
        <li>FileReader</li>
        <li>FileSaver</li>
        <li>LocalStorage</li>
      </ul>
    </div>
  </div>
</div>
