<div id="gallery" ng-cloak ng-style="{ 'background-color': Color.parse(Theme.bg()), 'color': Color.parse(Theme.fg()) }">
  <div ng-class="{ 'slide' : gallery_visible }" ng-cloak class="titlebar">
   <div class="title">
      {{ themes.length }} Themes
   </div>
   <div class="actions">
     <a href="https://github.com/aziz/tmTheme-Editor/wiki/How-to-add-your-own-theme-to-the-gallery%3F"
        target="_blank" class="add" tooltip-placement="bottom" tooltip="Add your own theme to the gallery">
        <i class="icon-plus"></i>
     </a>
     <a ng-click="toggle_type_filter('dark')"
        ng-class="{'active': filter.type == 'dark'}"
        class="dark_filter" tooltip-placement="bottom" tooltip="Show Dark Themes">Dark</a>
     <a ng-click="toggle_type_filter('light')"
        ng-class="{'active': filter.type == 'light' }"
        class="light_filter" tooltip-placement="bottom"  tooltip="Show Light Themes">Light</a>
   </div>
  </div>

  <div ng-class="{ 'slide' : gallery_visible }" class="scrollbox" ng-style="{ 'background-color': Color.parse(Theme.bg()), 'color': Color.parse(Theme.fg()) }">
    <div class="local_themes_list" ng-class="{ 'visible': localFiles.length > 0 }">
      <h5>Local Files</h5>
      <ul>
        <li ng-repeat="theme in localFiles | orderBy:'name' | filter: filter"
            ng-click="load_local_theme(theme)"
            ng-class="{ 'selected': is_selected_theme(theme) }">
          <span class="local_theme_title">{{ theme.name | removeExtension }}</span>
          <span ng-click="remove_local_theme(theme)" class="remove_theme" title="Remove">&times;</span>
        </li>
      </ul>
    </div>

    <div class="local_themes_list" ng-class="{ 'visible': external_themes.length > 0 }">
      <h5>External URLs</h5>
      <ul>
        <li ng-repeat="theme in external_themes | orderBy:'name' | filter: filter"
            ng-click="open_from_url(theme)"
            ng-class="{ 'selected': is_selected_theme(theme) }">
          <span class="local_theme_title">{{ theme.name | removeExtension }}</span>
          <span ng-click="remove_external_theme(theme)" class="remove_theme" title="Remove">&times;</span>
        </li>
      </ul>
    </div>

    <div class="gallery_themes_list">
      <h5>Gallery</h5>
      <ul>
        <li ng-repeat="theme in themes | filter: filter"
            ng-click="load_theme(theme)"
            ng-class="{ 'selected': is_selected_theme(theme) }">
            <span class="light_theme_icon" ng-show="theme.light"></span>
            <span class="dark_theme_icon"  ng-show="!theme.light"></span>
            <span>{{theme.name}}</span>
        </li>
      </ul>
    </div>
  </div>
  <div ng-class="{ 'slide' : gallery_visible }" class="searchbar">
    <input type="search" ng-model="filter.name">
    <div ng-show="filter.name" ng-click="filter.name = ''" class="clear_search">&times;</div>
  </div>
</div>
