<div id="gallery" ng-cloak ng-style="{ 'background-color': Color.parse(Theme.bg()), 'color': Color.parse(Theme.fg()) }">
  <div ng-class="{ 'slide' : gallery_visible }" ng-cloak class="titlebar">
   <div class="title">
      {{ ::themes.length }} Themes
   </div>
   <div class="actions">
     <a href="https://github.com/aziz/tmTheme-Editor/wiki/How-to-add-your-own-theme-to-the-gallery%3F"
        target="_blank" class="add" tooltip-placement="bottom" tooltip="Add your own theme to the gallery">
        <i class="icon-plus"></i>
     </a>
     <a ng-click="toggle_gallery_type_filter('dark')"
        ng-class="{'active': gallery_filter.type == 'dark'}"
        class="dark_filter" tooltip-placement="bottom" tooltip="Show Dark Themes">Dark</a>
     <a ng-click="toggle_gallery_type_filter('light')"
        ng-class="{'active': gallery_filter.type == 'light' }"
        class="light_filter" tooltip-placement="bottom"  tooltip="Show Light Themes">Light</a>
   </div>
  </div>

  <div ng-class="{ 'slide' : gallery_visible }" class="scrollbox" ng-style="{ 'background-color': Color.parse(Theme.bg()), 'color': Color.parse(Theme.fg()) }">
    <div style="overflow-y: scroll; height: 100%">
      <div class="local_themes_list" ng-show="local_themes.length > 0">
        <h5>Local Files</h5>
        <ul>
          <li ng-repeat="theme in local_themes | orderBy:'name' | filter: gallery_filter"
              ng-click="load_theme(theme, 'local')"
              ng-class="{ 'selected': theme.name == selected_theme }">
            <span class="theme_title">{{ theme.name | removeExtension }}</span>
            <span ng-click="remove_local_theme(theme)" class="remove_theme" title="Remove">&times;</span>
          </li>
        </ul>
      </div>

      <div class="external_theme_list local_themes_list" ng-show="external_themes.length > 0">
        <h5>External URLs</h5>
        <ul>
          <li ng-repeat="theme in external_themes | orderBy:'name' | filter: gallery_filter"
              ng-click="load_theme(theme, 'url')"
              ng-class="{ 'selected': theme.name == selected_theme }">
            <span class="theme_title">{{ theme.name | removeExtension }}</span>
            <span ng-click="remove_external_theme(theme)" class="remove_theme" title="Remove">&times;</span>
          </li>
        </ul>
      </div>

      <div class="gallery_themes_list">
        <h5>Gallery</h5>
        <ul>
          <li ng-repeat="theme in themes | filter: gallery_filter"
              ng-click="load_theme(theme, 'theme')"
              ng-class="{ 'selected': theme.name == selected_theme }">
              <span class="{{::theme.type}}_theme_icon" ></span>
              <span>{{::theme.name}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div ng-class="{ 'slide' : gallery_visible }" class="searchbar">
    <input type="search" ng-model="gallery_filter.name">
    <div ng-show="gallery_filter.name" ng-click="gallery_filter.name = ''" class="clear_search">
      <i class="icon-cancel-circle"></i>
    </div>
  </div>
</div>
