<div id="gallery" class="hide"
     ng-cloak
     ng-controller="galleryController"
     ng-style="{ 'background-color': get_color(bg()), 'color': get_color(fg()) }">
  <div ng-class="gallery" ng-cloak class="titlebar">
   <div class="title">
      {{ themes.length }} Themes
   </div>
   <div class="actions">
     <div ng-click="" ng-class="{'active': new_popover_visible }" class="add">+</div>
   </div>
  </div>
  <ul ng-class="gallery" ng-style="{ 'background-color': get_color(bg()), 'color': get_color(fg()) }">
    <li ng-repeat="theme in themes"
        ng-click="load_theme(theme)"
        ng-class="selected_gradient(theme)">
        {{theme.name}}
    </li>
  </ul>
</div>