<header id="header">
  <a ng-click="toggle_gallery()"
     ng-class="{'active': gallery}"
     class="btn btn-info btn-small" href="javascript:void(0)">Gallery</a>
  <div class="btn-toolbar new-upload">
    <div class="btn-group">
      <a href="javascript:void(0)" id="upload-btn" class="btn btn-info btn-small">Open</a>
      <!-- <a href="javascript:void(0)" ng-click="" class="btn btn-info btn-small">New</a> -->
    </div>
  </div>
  <div ng-class="gallery" class="btn-toolbar dl-save">
    <div class="btn-group">
      <a href="javascript:void(0)" ng-click="save_theme()" class="btn btn-success btn-small  save">Save</a>
      <a href="javascript:void(0)" ng-click="download_theme()" class="btn btn-success btn-small download">Download</a>
    </div>
  </div>
  <input type="file" id="files" class="upload" ng-model="input" onchange="angular.element(this).scope().setFiles(this)" />

  <div ng-class="gallery" class="sep"></div>
  <div ng-class="gallery" ng-cloak ng-show="jsonTheme" class="theme-title">
    {{ jsonTheme.name }}
  </div>
  <!--
  <div ng-cloak ng-show="jsonTheme" class="languages">
    <div class="btn-group">
      <a ng-click="" class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        {{ current_lang }}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="lang in available_langs">
          <a ng-click="set_lang(lang)">{{lang}}</a>
        </li>
      </ul>
    </div>
  </div>
  -->
  <div class="links">
    <%// include _social %>
    <ul>
      <li><a href="https://github.com/aziz/tmTheme-Editor#tmtheme-editor">About</a></li>
      <li><a href="https://github.com/aziz/tmTheme-Editor/issues/new">Feedback</a></li>
      <li><a href="https://github.com/aziz/tmTheme-Editor">Github</a></li>
      <li><a href="/stats"><strong>Some Stats</strong></a></li>
    </ul>
  </div>
</header>