<header id="header">
  <a ng-click="toggle_gallery()" ng-class="{'active': gallery}"
     class="btn btn-info btn-small">
     <i class="icon-white icon-align-justify"></i> Gallery
  </a>
  <div class="btn-toolbar new-upload">
    <div class="btn-group">
      <a id="upload-btn" class="btn btn-info btn-small">Open</a>
    </div>
  </div>
  <div ng-class="gallery" class="btn-toolbar dl-save">
    <div class="btn-group">
      <a ng-click="save_theme()" class="btn btn-success btn-small  save">Save</a>
      <a ng-click="download_theme()" class="btn btn-success btn-small download">
        <i class="icon-white icon-download-alt"></i> Download
      </a>
    </div>
  </div>
  <input type="file" id="files" class="upload"
         ng-model="input" onchange="angular.element(this).scope().setFiles(this)" />

  <div ng-class="gallery" class="sep"></div>
  <div ng-cloak ng-class="gallery" ng-show="jsonTheme" class="theme-title">
    {{ jsonTheme.name }}
    <span class="label label-success" style="position:relative;top:-2px" ng-show="theme_type != ''">{{theme_type}}</span>
    <a ng-show="theme_type == 'Local File'" href="#"><i class="icon-trash" data-toggle="tooltip" data-placement="bottom" title="Remove local file"></i></a>
    <a ng-hide="theme_type == 'Local File'" href="#"><i class="icon-globe" data-toggle="tooltip" data-placement="bottom" title="View Original file URL"></i></a>
  </div>
  <div class="links">
    <%// include _social %>
    <% include _links %>
  </div>
</header>