<header id="header" ng-cloak>
  <a ng-click="toggle_gallery()" ng-class="{'active': gallery_visible}"
     class="btn btn-info btn-small">
     <i class="icon-menu"></i> Gallery
  </a>
  <div class="btn-toolbar new-upload">
    <div class="btn-group">
      <a class="dropdown-toggle btn btn-small btn-info">
        Open
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <a href="javascript:void(0)">
            from local file…
            <input type="file" id="files" class="upload" ng-model="input" multiple
                   onchange="angular.element(this).scope().setFiles(this)" />
          </a>
        </li>
        <li><a ng-click="load_from_url()">from URL…</a></li>
      </ul>
    </div>
  </div>

  <div class="btn-toolbar dl-save" ng-class="{ 'slide' : gallery_visible }">
    <div class="btn-group">
      <a ng-click="save_theme()" class="btn btn-success btn-small  save">Save</a>
      <a ng-click="Theme.download()" class="btn btn-success btn-small download">
        <i class="icon-download"></i> Download
      </a>
    </div>
  </div>

  <div class="sep" ng-class="{ 'slide' : gallery_visible }"></div>

  <div class="theme-title" ng-cloak ng-class="{ 'slide' : gallery_visible }" ng-show="Theme.json">
    {{ Theme.json.name }}
    <span ng-show="Theme.type != ''" class="label label-success" style="position:relative;top:-2px">{{Theme.type}}</span>
    <a ng-hide="Theme.type == 'Local File'" ng-click="open_theme_url()">
      <i class="icon-globe" tooltip-placement="right" tooltip="View original file on the web"></i>
    </a>
  </div>

  <div class="links">
    <%// include _social %>
    <% include _links %>
  </div>
</header>
