<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <a class="brand" href="#"><%= title -%></a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
  </div>
</div>