<div class="btn-toolbar">
  <div class="btn-group">
    <a ng-click="toggle_colors_hud()" class="btn btn-mac btn-small" ng-class="{'active': colors_hud_open }">
      <i class="icon-color-adjustments"></i> Adjust Colors
    </a>
  </div>

  <div class="btn-group">
    <a class="btn btn-small btn-mac dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-gear"></i>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu pull-right">
      <li><a href="https://github.com/aziz/tmTheme-Editor#tmtheme-editor">About</a></li>
      <li><a href="https://github.com/aziz/tmTheme-Editor/issues/new">Feedback</a></li>
      <li><a href="https://github.com/aziz/tmTheme-Editor">Github</a></li>
      <li><a href="/stats"><strong>Some Stats</strong></a></li>
      <li><center><small class="muted">Version 0.4.0</small></center></li>
    </ul>
  </div>
</div>


