<ul>
  <li><a href="https://github.com/aziz/tmTheme-Editor#tmtheme-editor">About</a></li>
  <li><a href="https://github.com/aziz/tmTheme-Editor/issues/new">Feedback</a></li>
  <li><a href="https://github.com/aziz/tmTheme-Editor">Github</a></li>
  <li><a href="/stats"><strong>Some Stats</strong></a></li>
</ul>
