<div ng-controller="previewController">

  <!-- preview  -->
  <div ng-class="{ 'slide': gallery_visible, 'no-scroll': EditPopover.visible  }" id="preview" class="preview" ng-style="{ 'background-color': Color.parse(Theme.bg()), 'color': Color.parse(Theme.fg()) }">
    <pre ng-show="Theme.json"
         ng-bind-html="colorized"
         ng-style="{ 'color': Color.parse(Theme.fg()) }"></preview>
  </div>

  <!-- preview custom code -->
  <div ng-cloak  ng-class="{ 'slide' : gallery_visible }" ng-show="custom_code_editor_visible" id="custom_code" class="preview custom_code_edtior" >
    <textarea spellcheck='false'
              focus-me="custom_code_editor_visible"
              ng-model="custom_code"
              ng-style="{ 'background-color': Color.parse(Theme.bg()), 'color': Color.parse(Theme.fg()) }"></textarea>
    <div class="cc_header">
      <p class="pull-left">Paste your code below and press Save button.</p>
    </div>
  </div>
  <div class="custom_code_btn_bar" ng-show="custom_code_editor_visible" ng-cloak>
    <a class="btn btn-small btn-danger" ng-click="custom_code='';custom_code_editor_visible = false">
       &nbsp;Clear&nbsp;
    </a>
    <a class="btn btn-small btn-success" ng-click="update_preview()">
       &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;
    </a>
  </div>

  <!-- preview footer -->
  <div scope-bar></div>
  <div class="btn-group custom_code_toggle_btn" ng-cloak ng-show="Theme.json">
    <a class="btn btn-mac btn-small"
       ng-click="custom_code_editor_visible = !custom_code_editor_visible"
       ng-class="{'active': custom_code_editor_visible }">
      Customize Preview Code
    </a>
  </div>
  <div class="btn-group dropup languages-dd" ng-cloak ng-show="Theme.json">
    <a class="btn btn-mac btn-small dropdown-toggle">
      <span class="icon-arrow-combo ud-arrow"></span>
      {{ current_lang }}
    </a>
    <ul class="dropdown-menu pull-right">
      <li ng-repeat="lang in available_langs">
        <a ng-click="set_lang(lang)">{{lang}}</a>
      </li>
    </ul>
  </div>

</div>
