<div ng-cloak ng-class="gallery" class="scope-bar">
  <strong class="f-scope type-language">{{ json_lang.scopeName }}</strong>
  <span ng-show="hovered_rule.scope" class="f-scope type-entity">{{ hovered_rule.scope }}</span>
  <span ng-show="hovered_rule.name" class="f-scope type-entity-text">({{ hovered_rule.name }})</span>
</div>
