<div ng-class="gallery" class="tabbar">
  <a ng-click="current_tab = 'scopes'"  ng-class="{'active': current_tab == 'scopes'}">Scopes</a>
  <a ng-click="current_tab = 'general'" ng-class="{'active': current_tab == 'general'}">General</a>
  <a ng-click="current_tab = 'info'"    ng-class="{'active': current_tab == 'info'}">Info</a>
</div>

<% include _action_bar %>

<div ng-cloak ng-class="gallery" class="sidebar" ng-style="{ 'background-color': Color.parse(Theme.bg())}">
  <% include _table_general %>
  <% include _table_scopes %>
  <% include _table_info %>
</div>
