<div class="social-links">
  <div style="display:inline-block">
    <iframe src="http://ghbtns.com/github-btn.html?user=aziz&amp;repo=tmTheme-Editor&amp;type=watch&amp;count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="110px" height="20px"></iframe>
  </div>

  <div style="display:inline-block">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="aziz">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div style="display:inline-block">
    <div class="g-plusone" data-size="medium"></div>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </div>
</div>