<table ng-show="current_tab == 'general'" class="list general">
  <thead ng-hide="gcolors.length==0">
    <tr>
      <th class="align-begin truncate">General Colors</th>
      <th class="big-color-box">Color</th>
      <th class="check-box"></th>
    </tr>
  </thead>
  <tbody ui-sortable ui-options="sortable_options" ng-model="gcolors" ng-style="{ 'background-color': get_color(bg()), 'color': get_color(fg()) }">

    <tr ng-repeat="gcolor in gcolors"
        ng-click="mark_as_selected_gcolor(gcolor)"
        ng-class="{ 'selected': is_gcolor_selected(gcolor) }">
      <td class="name-box truncate">{{gcolor.name}}</td>
      <td>
        <div class="colorpicker-box"
             ng-class="has_color(gcolor.color)"
             ng-style="{ 'background-color': get_color(gcolor.color), 'border-color': border_color(get_color(bg())) }"></div>
        <input type="color" class="colorpicker-input"
               title="{{gcolor.color}}"
               ng-model="gcolor.color"
               ng-change="update_gcolor(gcolor, angualr.element(this).val())">

      </td>
      <td></td>
    </tr>
  </tbody>
</table>