<table ng-show="current_tab == 'general'" class="list general">
  <thead ng-hide="Theme.gcolors.length==0">
    <tr>
      <th class="align-begin truncate">General Colors</th>
      <th class="big-color-box">Color</th>
      <th class="check-box"></th>
    </tr>
  </thead>

  <tbody ui-sortable="sortable_options" ng-model="Theme.gcolors"
         ng-style="{ 'background-color': Color.parse(Theme.bg()), 'color': Color.parse(Theme.fg()) }">

    <tr ng-repeat="gcolor in Theme.gcolors"
        ng-click="mark_as_selected_gcolor(gcolor)"
        ng-class="{ 'selected': is_gcolor_selected(gcolor) }">
      <td class="name-box">{{gcolor.name}}</td>
      <td>
        <div class="colorpicker-box"
             ng-class="{ 'has_color': Color.is_color(gcolor.color) }"
             ng-style="{ 'background-color': Color.parse(gcolor.color), 'border-color': Theme.border_color() }"></div>
        <input type="color" class="colorpicker-input"
               title="{{gcolor.color}}"
               ng-model="gcolor.color"
               ng-change="update_gcolor(gcolor, angualr.element(this).val())">

      </td>
      <td></td>
    </tr>
  </tbody>
</table>
