<table ng-show="current_tab == 'info'" class="list info">
  <thead>
    <tr>
      <th style="width:80px" class="align-begin">Property</th>
      <th class="align-begin">Value</th>
      <th width="10px"></th>
    </tr>
  </thead>
  <tbody ng-style="{ 'background-color': Color.parse(Theme.bg()), 'color': Color.parse(Theme.fg()) }">
    <tr>
      <td class="name-box">UUID</td>
      <td>{{Theme.json.uuid}}</td>
      <td></td>
    </tr>

    <tr>
      <td class="name-box">Name</td>
      <td><input type="text" ng-model="Theme.json.name"></td>
      <td></td>
    </tr>
    <tr>
      <td class="name-box">Author</td>
      <td><input type="text" ng-model="Theme.json.author"></td>
      <td></td>
    </tr>

    <tr>
      <td class="name-box">Comment</td>
      <td><textarea type="text" ng-model="Theme.json.comment"></textarea></td>
      <td></td>
    </tr>
  </tbody>
</table>
