<table ng-show="current_tab == 'scopes'" id="scope-lists" class="list">
  <thead ng-show="jsonTheme">
    <tr>
      <th class="align-begin">Scope Name</th>
      <th class="color-box">FG</th>
      <th class="color-box">BG</th>
      <th class="check-box is_bold">B</th>
      <th class="check-box is_italic">I</th>
      <th class="check-box is_underline">U</th>
      <th width="10px"></th>
    </tr>
  </thead>
  <tbody ui-sortable ui-options="sortable_options" ng-model="jsonTheme.settings" ng-style="{ 'background-color': get_color(bg()), 'color': get_color(fg()) }">
    <tr ng-repeat="rule in jsonTheme.settings.compact() | filter: scopes_filter"
        ng-hide="rule.settings.invisibles"
        ng-click="mark_as_selected(rule)"
        ng-dblclick="toggle_edit_popover(rule, $index)"
        ng-class="{ 'selected': is_selected(rule), 'hovered': is_hovered(rule) }"
        class="rule-{{$index}}">
      <td class="name-box"
          ng-style="{ 'color': get_color(rule.settings.foreground), 'background-color': get_color(rule.settings.background) }"
          ng-class="{'is_italic' : is('italic', rule), 'is_bold': is('bold', rule), 'is_underline': is('underline', rule)}">
          <span class="truncate">{{ rule.name || rule.scope }}</span>
      </td>
      <td class="color-box">
        <div class="colorpicker-box" ng-class="has_color(rule.settings.foreground)" ng-style="{ 'background-color': get_color(rule.settings.foreground), 'border-color': border_color(get_color(bg())) }"></div>
        <input class="colorpicker-input" type="color" title="{{rule.settings.foreground}}" ng-model="rule.settings.foreground">
      </td>
      <td class="color-box">
        <div class="colorpicker-box" ng-class="has_color(rule.settings.background)" ng-style="{ 'background-color': get_color(rule.settings.background), 'border-color': border_color(get_color(bg())) }"></div>
        <input class="colorpicker-input" type="color" title="{{rule.settings.background}}" ng-model="rule.settings.background">
      </td>
      <td class="check-box"><input type="checkbox" ng-checked="is('bold', rule)"      ng-click="toggle('bold',rule)"     ></td>
      <td class="check-box"><input type="checkbox" ng-checked="is('italic', rule)"    ng-click="toggle('italic',rule)"   ></td>
      <td class="check-box"><input type="checkbox" ng-checked="is('underline', rule)" ng-click="toggle('underline',rule)"></td>
      <td></td>
    </tr>
  </tbody>
</table>
