<!doctype html>
<html ng-app="ThemeEditor" ng-controller="editorController">
<head>
  <title ng-bind="page_title()"></title>
  <% include _meta %>
  <%- css("app") -%>
</head>

<body id="drop_zone"
      shortcut='shortcuts'
      ng-class="'current_theme_' + light_or_dark(get_color(bg()))"
      class="transition-off">
  <% include _browser_support %>
  <% include _gallery %>

<div ng-controller="previewController" id="preview">

  <% include _header %>
  <% include _sidebar %>

  <style ng-bind="theme_gutter()"></style>
  <style ng-bind="theme_selection()"></style>
  <style ng-bind="theme_styles()"></style>

  <div ng-class="gallery" class="preview" ng-style="{ 'background-color': get_color(bg()), 'color': get_color(fg()) }">
    <pre class="source js" ng-show="jsonTheme"
         ng-bind-html-unsafe="colorized"
         ng-style="{ 'color': get_color(fg()) }"></pre>
  </div>

  <div scope-bar></div>

</div>
<div id="loading"></div>
<% include _edit_dialog %>
<% include _new_dialog %>
<%- js("application") -%>
<% include _ga  %>
</body>
</html>
