<!doctype html>
<html>
<head>
  <title>TMTheme Editor</title>
  <%- css("app") -%>
</head>

<body id="drop_zone"
      ng-app="ThemeEditor"
      ng-controller="editorController"
      shortcut='shortcuts'>

<div ng-controller="previewController">

  <% include _header %>
  <% include _sidebar %>
  <% include _edit_dialog %>
  <% include _new_dialog %>

  <style ng-bind="theme_gutter()"></style>
  <style ng-bind="theme_selection()"></style>
  <style ng-bind="theme_styles()"></style>

  <div class="preview" ng-style="{ 'background-color': get_color(bg()), 'color': get_color(fg()) }">
    <pre ng-show="jsonTheme"
         ng-bind-html-unsafe="colorized"
         ng-style="{ 'background-color': get_color(bg()), 'color': get_color(fg()) }"></pre>
  </div>

</div>
<%- js("application") -%>
<% include _ga  %>
</body>
</html>