<!doctype html>
<html ng-app="ThemeEditor" ng-controller="editorController">
<head>
  <title ng-bind="page_title()"></title>
  <% include _meta %>
  <%- css("app") -%>
</head>

<body id="drop_zone"
      shortcut='shortcuts'
      ng-class="'current_theme_' + light_or_dark(get_color(bg()))"
      class="transition-off">
  <% include _browser_support %>
  <% include _gallery %>

<div ng-controller="previewController" id="preview">

  <% include _header %>
  <% include _sidebar %>

  <style ng-bind="theme_gutter()"></style>
  <style ng-bind="theme_selection()"></style>
  <style ng-bind="theme_styles()"></style>

  <div ng-class="gallery" id="preview" class="preview" ng-style="{ 'background-color': get_color(bg()), 'color': get_color(fg()) }">
    <pre ng-show="jsonTheme"
         ng-bind-html="colorized"
         ng-style="{ 'color': get_color(fg()) }"></pre>
  </div>

  <div ng-cloak  ng-class="gallery" ng-show="custom_code_editor_visible" id="custom_code" class="preview custom_code_edtior" >
    <textarea spellcheck='false' ng-model="custom_code" focus-me="custom_code_editor_visible"></textarea>
    <div class="cc_header">
      <p class="pull-left">Paste your code below and press save</p>
    </div>
  </div>
  <a ng-cloak  class="btn btn-small btn-success save_custom_code"
     ng-show="custom_code_editor_visible"
     ng-click="update_preview()">
     &nbsp;&nbsp;&nbsp;Save&nbsp;&nbsp;&nbsp;
  </a>

  <div scope-bar></div>
  <div class="btn-group custom_code_toggle_btn" ng-cloak ng-show="jsonTheme">
    <a class="btn btn-mac btn-small"
       ng-click="custom_code_editor_visible = !custom_code_editor_visible"
       ng-class="{'active': custom_code_editor_visible }">
      Customize Preview Code
    </a>
  </div>
  <div class="btn-group dropup languages-dd" ng-cloak ng-show="jsonTheme">
    <a ng-click="" class="btn btn-mac btn-small dropdown-toggle" data-toggle="dropdown">
      {{ current_lang }}
      <span class="icon-arrow-combo ud-arrow"></span>
    </a>
    <ul class="dropdown-menu pull-right">
      <li ng-repeat="lang in available_langs">
        <a ng-click="set_lang(lang)">{{lang}}</a>
      </li>
    </ul>
  </div>


</div>
<div id="loading"></div>
<% include _edit_dialog %>
<% include _new_dialog %>
<% include _colors_hud %>
<%- js("application") -%>
<% include _ga  %>
</body>
</html>
