<!doctype html>
<html>
<head>
  <title><%= title -%></title>
  <%- css("app") -%>
</head>
<body ng-app="ThemeEditor" ng-controller="editorController">
<div ng-controller="previewController">

<header id="header">
  <div class="btn-toolbar">
    <div class="btn-group">
      <a class="btn btn-info btn-small">Upload</a>
      <a ng-click="" class="btn btn-info btn-small">New</a>
    </div>
  </div>
  <div class="btn-toolbar dl-save">
    <div class="btn-group">
      <a ng-click="save_theme()" class="btn btn-success btn-small  save">Save</a>
      <a ng-click="download_theme()" class="btn btn-success btn-small download">Download</a>
    </div>
  </div>
  <input type="file" id="files" class="upload" ng-model="input" onchange="angular.element(this).scope().setFiles(this)" />

  <div class="sep"></div>
  <div class="languages">
    <div class="btn-group">
      <a ng-click="" class="btn btn-small dropdown-toggle" data-toggle="dropdown">
        {{ current_lang }}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="lang in available_langs">
          <a ng-click="set_lang(lang)">{{lang}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="links">
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Github</a></li>
    </ul>
  </div>
</header>

<div class="titlebar">
  <div class="title">
    {{jsonTheme.name}}
  </div>
  <div class="actions" ng-hide="gcolors.length==0">
    <div class="add">+</div>
    <div class="remove">-</div>
  </div>
</div>

<div class="sidebar" ng-style="{ 'background-color': get_color(bg())}">

  <table class="list general">
    <thead ng-hide="gcolors.length==0">
      <tr>
        <th class="align-begin truncate">General Colors</th>
        <th class="big-color-box">Color</th>
        <th class="check-box"></th>
      </tr>
    </thead>
    <tbody ng-style="{ 'background-color': get_color(bg()), 'color': get_color(fg()) }">

      <tr ng-repeat="gcolor in gcolors">
        <td class="name-box truncate" ng-bind="gcolor.name"></td>
        <td>
          <div class="colorpicker-box"
               ng-class="has_color(gcolor.color)"
               ng-style="{ 'background-color': get_color(gcolor.color), 'border-color': border_color(get_color(bg())) }"></div>
          <input class="colorpicker-input" type="color" ng-model="gcolor.color" ng-change="update_gcolor(gcolor, angualr.element(this).val())">
          <td>
          </td>
        </td>
      </tr>

    </tbody>
  </table>


  <table class="list">
    <thead ng-show="jsonTheme">
      <tr>
        <th class="align-begin truncate">Scope Name</th>
        <!-- <th>selector</th> -->
        <th class="color-box">FG</th>
        <th class="color-box">BG</th>
        <th class="check-box is_bold">B</th>
        <th class="check-box is_italic">I</th>
        <th class="check-box is_underline">U</th>
        <th class="check-box"></th>
      </tr>
    </thead>
    <tbody ng-style="{ 'background-color': get_color(bg()), 'color': get_color(fg()) }">
      <tr ng-repeat="rule in jsonTheme.settings" ng-hide="$first">
        <td class="name-box truncate" ng-bind="rule.name"
            ng-style="{ 'color': get_color(rule.settings.foreground), 'background-color': get_color(rule.settings.background) }"
            ng-class="{'is_italic' : is('italic', rule), 'is_bold': is('bold', rule), 'is_underline': is('underline', rule)}"></td>
        <!-- <td ng-bind="rule.scope"></td> -->
        <td class="color-box">
          <div class="colorpicker-box" ng-class="has_color(rule.settings.foreground)" ng-style="{ 'background-color': get_color(rule.settings.foreground), 'border-color': border_color(get_color(bg())) }"></div>
          <input class="colorpicker-input" type="color" ng-model="rule.settings.foreground">
        </td>
        <td class="color-box">
          <div class="colorpicker-box" ng-class="has_color(rule.settings.background)" ng-style="{ 'background-color': get_color(rule.settings.background), 'border-color': border_color(get_color(bg())) }"></div>
          <input class="colorpicker-input" type="color" ng-model="rule.settings.background">
        </td>
        <td class="check-box"><input type="checkbox" ng-checked="is('bold', rule)" ng-click="toggle('bold',rule)"></td>
        <td class="check-box"><input type="checkbox" ng-checked="is('italic', rule)" ng-click="toggle('italic',rule)"></td>
        <td class="check-box"><input type="checkbox" ng-checked="is('underline', rule)" ng-click="toggle('underline',rule)"></td>
        <td class="check-box"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="edit-popover" ng-hide="true">
  <label>Name</label>
  <input type="text" ng-model="temp.name">

  <table>
    <tr>
      <td>
        <label>Font Styles</label>
        <label class="small"><input type="checkbox"> <b>Bold</b></label>
        <label class="small"><input type="checkbox"> <i>Italic</i></label>
        <label class="small"><input type="checkbox"> <u>Underline</u></label>
      </td>
      <td>
        <label>Foreground</label>
        <div class="fg-box">
          <div class="colorpicker-box" ng-class="has_color(temp.settings.foreground)" ng-style="{ 'background-color': get_color(temp.settings.foreground) }"></div>
          <input class="colorpicker-input" type="color" ng-model="temp.settings.foreground">
        </div>

        <label>Background</label>
        <div class="bg-box">
          <div class="colorpicker-box" ng-class="has_color(temp.settings.background)" ng-style="{ 'background-color': get_color(temp.settings.background) }"></div>
          <input class="colorpicker-input" type="color" ng-model="temp.settings.background">
        </div>
      </td>
    </tr>
  </table>

  <label>Scope</label>
  <textarea ng-model="temp.scope"></textarea>

  <div class="btn-sep">
    <a href="#" class="btn btn-small btn-danger pull-left">Delete</a>
    <a href="#" class="btn btn-small transparent pull-right">Done</a>
  </div>
</div>


<style ng-bind="gutter()"></style>
<style ng-bind="styles()"></style>

<div class="preview" ng-style="{ 'background-color': get_color(bg()), 'color': get_color(fg()) }">
<!-- <pre ng-bind="bg() | json"></pre>
<pre ng-bind="jsonTheme | json"></pre> -->

<pre ng-bind-html-unsafe="colorized"
     ng-style="{ 'background-color': get_color(bg()), 'color': get_color(fg()) }">
</pre>
</div>

</div>
<%- js("application") -%>
</body>
</html>




