<!doctype html>
<html>
<head>
  <title>TmTheme Editor Stats</title>
  <% include _meta %>
  <%- css("stats") -%>
</head>

<body ng-app="ThemeEditor">

<div ng-controller="StatsController">

  <header id="header">
    <a href="/" class="btn btn-info btn-small"><i class="icon-white icon-arrow-left"></i> Back to editor</a>

    <div ng-hide="progress > 99" class="progress progress-striped active">
      <div class="bar" style="width: {{progress}}%"></div>
    </div>

    <div class="links">
      <%// include _social %>
      <% include _links %>
    </div>
  </header>

  <ul id="stats-tabs" class="nav nav-tabs">
    <li ng-class="{'active': current_tab == 'themes'}">
      <a ng-click="current_tab = 'themes'">Themes Stats</a>
    </li>
    <li ng-class="{'active': current_tab == 'scopes'}">
      <a ng-click="current_tab = 'scopes'">Scopes Stats</a>
    </li>
    <li ng-class="{'active': current_tab == 'general'}">
      <a ng-click="current_tab = 'general'">General Scope Stats</a>
    </li>
  </ul>

  <div id="stats-tables">
    <div class="row-fluid">
      <div class="span12">

        <table ng-show="current_tab=='scopes'" class="table table-striped table-condensed">
          <thead>
            <th style="width: 30px">#</th>
            <th style="width: 400px">Scope</th>
            <th style="width: 50px"></th>
            <th>Count</th>
          </thead>
          <tbody>
            <tr ng-repeat="scope in scopes_data | orderBy:'count':true">
              <td>{{ $index+1 }}</td>
              <td>{{ scope.name }}</td>
              <td style="text-align: right;">{{ scope.count }}</td>
              <td>
                <span style="position: relative;top:3px;background-color: #3CA3C1; width: {{scope.count}}px; height: 16px; display: inline-block;"></span>
              </td>
            </tr>
          </tbody>
        </table>

        <table ng-show="current_tab=='themes'" class="table table-striped table-condensed">
          <thead>
            <th style="width:30px">#</th>
            <th style="width:200px" ng-class="{'active': predicate == 'name' }" ng-click="predicate = 'name'; reverse=!reverse">
              Name
              <span ng-show="predicate == 'name' && reverse == true">▼</span>
              <span ng-show="predicate == 'name' && reverse == false">▲</span>
            </th>
            <th style="width:240px" ng-class="{'active': predicate == 'jsonTheme.author' }" ng-click="predicate = 'jsonTheme.author'; reverse=!reverse">
              Author
              <span ng-show="predicate == 'jsonTheme.author' && reverse == true">▼</span>
              <span ng-show="predicate == 'jsonTheme.author' && reverse == false">▲</span>
            </th>
            <th style="width:80px" ng-class="{'active': predicate == 'jsonTheme.settings.length' }" ng-click="predicate = 'jsonTheme.settings.length'; reverse=!reverse">
              Scopes
              <span ng-show="predicate == 'jsonTheme.settings.length' && reverse == true">▼</span>
              <span ng-show="predicate == 'jsonTheme.settings.length' && reverse == false">▲</span>
            </th>
            <th style="width:140px" ng-class="{'active': predicate == 'bgcolor' }" ng-click="predicate = 'bgcolor'; reverse=!reverse">
              BG
              <span ng-show="predicate == 'bgcolor' && reverse == true">▼</span>
              <span ng-show="predicate == 'bgcolor' && reverse == false">▲</span>
            </th>
            <th ng-class="{'active': predicate == 'is_light' }" ng-click="predicate = 'is_light'; reverse=!reverse">
              light/dark
              <span ng-show="predicate == 'is_light' && reverse == true">▼</span>
              <span ng-show="predicate == 'is_light' && reverse == false">▲</span>
            </th>
          </thead>
          <tbody>
            <tr ng-repeat="theme in themes | orderBy:predicate:reverse">
              <td>{{ $index + 1 }}</td>
              <td><a ng-href="/#/{{ theme.name }}">{{ theme.name }}</a></td>
              <td>{{ theme.jsonTheme.author.truncate(22) }}</td>
              <td>{{ theme.jsonTheme.settings.length }}</td>
              <td>
                <span style="display: inline-block;width: 32px; height: 16px; border:1px solid #000; background-color: {{ theme.bgcolor.to(7) }}"></span>
                {{ theme.bgcolor }}
              </td>
              <td>
                <div ng-show="theme.is_light" style="border-radius:50px;  width: 16px; height: 16px; border: 1px solid rgba(0,0,0,.4); background-color: #fff"></div>
                <div ng-hide="theme.is_light" style="border-radius:50px;  width: 16px; height: 16px; border: 1px solid rgba(0,0,0,.4); background-color: #000"></div>
              </td>
            </tr>
          </tbody>
        </table>

        <table ng-show="current_tab=='general'" class="table table-striped table-condensed">
          <thead>
            <th style="width: 30px">#</th>
            <th style="width: 200px">Key</th>
            <th style="width: 300px">Values</th>
            <th style="width: 50px"></th>
            <th>Count</th>
          </thead>
          <tbody>
            <tr ng-repeat="scope in general_data | orderBy:'count':true">
              <td>{{ $index+1 }}</td>
              <td>{{ scope.name }}</td>
              <td>
                <div ng-repeat="(val,repeats) in scope.grouped_values">
                  "{{ val }}"[{{ repeats.length }}]
                </div>
              </td>
              <td style="text-align: right;">{{ scope.count }}</td>
              <td>
                <span style="position: relative;top:3px;background-color: #3CA3C1; width: {{scope.count}}px; height: 16px; display: inline-block;"></span>
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div id="loading"></div>
</div>
<%- js("stats") -%>
<% include _ga  %>
</body>
</html>
